.img-desc,.thumb-container {
    font-size: 0.8rem;
    color: #7bd0de;
    background-color: #0000007d;
  }
  
  span {
    color: #7bd0de;
  } 

  .img-thumb {
    max-width: 100%;
    height: auto;
  }
  
  .collection-title {
    background-color: #0000007d;
  }